/public
node_modules
/logs
nohup.out
.idea
.vscode
!.eslintrc.json
.nyc_output

# !!TODO:!! please remove following lines to enable customized modules
/modules/*
!/modules/.gitkeep
/.gitmodules